@import "../../css-config/mixins.scss";
.product {
  display: flex;
  align-items: center;
}
.quantity-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.259);
}

.quantity-controls {
  display: flex;
  align-items: center;
  // margin-right: 16px;
}

.quantity-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 9px;
}
.minus {
  border-right: 1px solid rgba(0, 0, 0, 0.259);
}
.plus {
  border-left: 1px solid rgba(0, 0, 0, 0.259);
}

.quantity {
  font-size: 18px;
  font-weight: bold;
  margin: 0 12px;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
}

.social-links {
  display: flex;
}
.social-links a {
  font-size: 16px;
}
.Singleproduct{
    background-color:#eff4ee;
    position: relative;
    width: 100%;
}